.referral_tabs{
    text-align: center;
    margin: 10px;
}
.doc_pane_title{
    width:100%;
    background-color:#FFFFFF;
    padding: 10px 20px;
    box-shadow: 5px 15px 8px #00000029;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
    display:flex;
    justify-content: center;
}
.drop_doc{
    margin: 15px;
    padding: 15px;
}
.drop_doc_upload{
    margin: 15px;
    padding: 15px;
    /* margin-top: 11.5%; */
   
}
.upload_referral_btn{
    width: 22vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 2px;
}


